@font-face {
    font-family: 'blogicon';  /* project id 1022022 */
    src: url('//at.alicdn.com/t/font_1022022_o0a0rosddfc.eot');
    src: url('//at.alicdn.com/t/font_1022022_o0a0rosddfc.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1022022_o0a0rosddfc.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1022022_o0a0rosddfc.woff') format('woff'),
    url('//at.alicdn.com/t/font_1022022_o0a0rosddfc.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1022022_o0a0rosddfc.svg#blogicon') format('svg');
}

.blog-icon{
    font-family: blogicon;
    font-size:26px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #F2EBE2;
}

.fullscreen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

figure {
    width: 200px;
    position: absolute;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    cursor: pointer;
}

figure img {
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}

figure figcaption {
    font-family: Comic Sans, Comic Sans MS, cursive;
    color: #8F8476;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 999;
}

button {
    background-color: transparent;
    padding: 10px 24px;
    color: #ffffff;
    border: 2px solid black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    transition: 0.4s;
}

button:hover {
    background-color: #f44336;
    color: white;
}

#preview,#next:hover{
    cursor: pointer;
}

#preview{
    padding-right: 50px;
}

.searchText{
    font-size: 24px;
    font-size: 1.5rem;
    background: #fff;
    padding: 12px 24px 12px 64px;
    width: 100%;
    outline: none;
    border-radius: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search-block .am-icon-search{
    font-size: 2rem;
    line-height: 1;
    color: #ddd;
    position: absolute;
    bottom: 12px;
    right: 20px;
}

.search-block-out{
    float: right;
}