<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="../static/assets/css/amazeui.min.css" th:href="@{/assets/css/amazeui.min.css}">-->
    <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/js/lib/pagination.css" th:href="@{/js/lib/pagination.css}">
    <link rel="stylesheet" href="../static/css/head.css" th:href="@{/css/head.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="../static/css/category.css" th:href="@{/css/category.css}">

    <title>Altri | 分类</title>

</head>
<body>
    <header class="am-topbar nav-color-change">
    <h1 class="am-topbar-brand">
        <img class="am-round am-img-thumbnail am-circle" src="https://fjxblog.oss-cn-shenzhen.aliyuncs.com/user/1/blogImg/fjx.png">
        <a href="#">Altri</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li class="special-font"><a href="/"><span class="am-icon-home am-icon"></span>&nbsp;首页</a></li>
            <li class="special-font"><a href="/archive"><span class="am-icon-arrows am-icon"></span>&nbsp;时光轴</a></li>
            <li class="special-font"><a href="/leaveMessage"><span class="am-icon-magnet am-icon"></span>&nbsp;留言</a></li>
            <li class="special-font"><a href="/space"><span class="am-icon-shield am-icon"></span>&nbsp;空间</a></li>
            <li class="special-font"><a href="/link"><span class="am-icon-code am-icon"></span>&nbsp;友链</a></li>
            <li class="special-font"><a href="/aboutme"><span class="am-icon-mouse-pointer am-icon"></span>&nbsp;关于我</a></li>
        </ul>



        <div class="am-topbar-right write-blog"  sec:authorize="hasAnyRole('ADMIN')">
            <a href="/edit"><i class="blog-icon">&#xe60e;</i>&nbsp;写博客</a>
        </div>


        <div class="am-topbar-right" th:if="${#httpServletRequest.remoteUser}">
            <div class="am-dropdown am-dropdown-flip" data-am-dropdown>
                <button class="am-btn am-btn-primary am-dropdown-toggle am-topbar-btn am-btn-sm mybutton" data-am-dropdown-toggle><span class="user-name-show"></span><span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content">
                    <li>
                        <a href="/user">个人主页</a>
                    </li>
                    <li>
                        <a href="/logout">退出登录</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="am-topbar-right" th:unless="${#httpServletRequest.remoteUser}">
            <a href="/register" class="am-btn am-btn-primary am-topbar-btn am-btn-sm mybutton special-font">注册</a>
            <!--<button class="am-btn am-btn-primary am-topbar-btn am-btn-sm mybutton">注册</button>-->
        </div>

        <div class="am-topbar-right" th:unless="${#httpServletRequest.remoteUser}">
            <a href="/login" class="am-btn am-btn-primary am-topbar-btn am-btn-sm mybutton special-font">登录</a>
        </div>



    </div>
</header>
    <div class="container">
        <div class="am-container">
            <div class="am-g">
                <div class="am-u-md-3">
                    <div class="categories">
                        <div class="category-title">
                            <h3>Categories</h3>
                        </div>
                        <div class="category-content am-animation-slide-top">
                            <div class="category-item">
                            <span>
                                <a class="categoryName">SpringBoot</a>
                                <span class="categoryNum">(12)</span>
                            </span>
                            </div>
                            <div class="category-item">
                            <span>
                                <a class="categoryName">SpringBoot</a>
                                <span class="categoryNum">(12)</span>
                            </span>
                            </div>
                            <div class="category-item">
                            <span>
                                <a class="categoryName">SpringBoot</a>
                                <span class="categoryNum">(12)</span>
                            </span>
                            </div>
                            <div class="category-item">
                            <span>
                                <a class="categoryName">SpringBoot</a>
                                <span class="categoryNum">(12)</span>
                            </span>
                            </div>
                            <div class="category-item">
                            <span>
                                <a class="categoryName">SpringBoot</a>
                                <span class="categoryNum">(12)</span>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-u-md-9">
                    <div class="categoryLine">
                        <div class="line"></div>
                    </div>
                    <div id="Pagination" class="pagination am-animation-slide-top am-animation-delay-1"></div>
                </div>
            </div>
        </div>
        <div class="footer">
            <hr>
            <div style="text-align: center" class="foot-block">
            <span class="blog_copyright">
                © 2018-2019 范建鑫
            </span>
                <div>
                    博客已运行
                    <span class="tillTime"></span>
                </div>
                <div>蜀ICP备18030623号-1</div>
            </div>

            <div class="foot-block-say">
                <span>相信就会存在<i class="blog-icon">&#xe600;</i></span>
                <div>

                    To the world,you are one person
                </div>
                <div>But to one person,you are the world</div>
            </div>
        </div>
    </div>

</body>
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/lib/jquery.pagination.js"></script>
<script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
<script src="../static/js/timecount.js" th:src="@{/js/timecount.js}"></script>
<script src="../static/js/category.js" th:src="@{/js/category.js}"></script>
</html>