<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <title>Altri | 友链</title>
    <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/head.css" th:href="@{/css/head.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="../static/css/link.css" th:href="@{/css/link.css}">

</head>
<body>
    <div class="container">
        <header class="am-topbar nav-color-change">
            <h1 class="am-topbar-brand">
                <img class="am-round am-img-thumbnail am-circle" src="https://fjxblog.oss-cn-shenzhen.aliyuncs.com/user/1/blogImg/fjx.png">
                <a href="/">Altri</a>
            </h1>

            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

            <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li class="special-font"><a href="/"><span class="am-icon-home am-icon"></span>&nbsp;首页</a></li>
                    <li class="special-font"><a href="/archive"><span class="am-icon-arrows am-icon"></span>&nbsp;时光轴</a></li>
                    <li class="special-font"><a href="/leaveMessage"><span class="am-icon-magnet am-icon"></span>&nbsp;留言</a></li>
                    <li class="special-font"><a href="/space"><span class="am-icon-shield am-icon"></span>&nbsp;空间</a></li>
                    <li class="special-font"><a href="/link"><span class="am-icon-code am-icon"></span>&nbsp;友链</a></li>
                    <li class="special-font"><a href="/aboutme"><span class="am-icon-mouse-pointer am-icon"></span>&nbsp;关于我</a></li>
                </ul>



                <div class="am-topbar-right write-blog"  sec:authorize="hasAnyRole('ADMIN')">
                    <a href="/edit"><i class="blog-icon">&#xe60e;</i>&nbsp;写博客</a>
                </div>


                <div class="am-topbar-right" th:if="${#httpServletRequest.remoteUser}">
                    <div class="am-dropdown am-dropdown-flip" data-am-dropdown>
                        <button class="am-btn am-btn-primary am-dropdown-toggle am-topbar-btn am-btn-sm mybutton" data-am-dropdown-toggle><span class="user-name-show"></span><span class="am-icon-caret-down"></span></button>
                        <ul class="am-dropdown-content">
                            <li>
                                <a href="/user">个人主页</a>
                            </li>
                            <li>
                                <a href="/logout">退出登录</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="am-topbar-right" th:unless="${#httpServletRequest.remoteUser}">
                    <a href="/register" class="am-btn am-btn-primary am-topbar-btn am-btn-sm mybutton special-font">注册</a>
                    <!--<button class="am-btn am-btn-primary am-topbar-btn am-btn-sm mybutton">注册</button>-->
                </div>

                <div class="am-topbar-right" th:unless="${#httpServletRequest.remoteUser}">
                    <a href="/login" class="am-btn am-btn-primary am-topbar-btn am-btn-sm mybutton special-font">登录</a>
                </div>



            </div>
        </header>
        <div id="page" class="site">
            <div class="pattern-wrap">
                <div class="pattern-center">
                    <div class="pattern-img"></div>
                    <header class="pattern-header">
                        <h1 class="title">友链</h1>
                    </header>
                </div>
            </div>
            <div class="pattern-content-wrap">
                <div id="content" class="site-content">
                    <div class="link-info">
                        <p class="welcome">欢迎来到本站</p>
                        <div class="link-i-info">
                            <p>※友链须知：原创博客、技术博客、游记博客优先</p>
                            <p>十篇以上个人原创文章，两个月内有新文章更新</p>
                            <p>添加本站后请在下方留言，我会尽快查看回复并添加你(请按如下格式哦^_^)</p>
                            <div class="link-box">
                                <div>
                                    <p>Name：Altri</p>
                                    <p>Intro：我们的相遇是很久以前就注定的命运</p>
                                    <p>URL：https://www.neroarc.cn</p>
                                    <p>Avatar：<a href="https://fjxblog.oss-cn-shenzhen.aliyuncs.com/user/1/blogImg/fjx.jpg">我是化身</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="first-column">
                            <div class="boss">
                                <div class="links">
                                    <h3 class="column">前沿</h3>
                                    <ul class="link-items">
                                        <li class="link-item">
                                            <a href="https://github.com/trending/java">
                                                <img data-original="https://fjxblog.oss-cn-shenzhen.aliyuncs.com/user/1/blogImg/github1.png" class="friend-img">
                                                <span class="name">Java Trending</span>
                                                <hr class="des-divider">
                                                <div class="description">Trending In github</div>
                                            </a>
                                        </li>
                                        <li class="link-item">
                                            <a href="https://learngitbranching.js.org/">
                                                <img data-original="https://fjxblog.oss-cn-shenzhen.aliyuncs.com/user/1/blogImg/git.webp" class="friend-img">
                                                <span class="name">Learn Git</span>
                                                <hr class="des-divider">
                                                <div class="description">学习Git</div>
                                            </a>
                                        </li>
                                        <li class="link-item">
                                            <a href="https://www.open-open.com/github/">
                                                <img data-original="https://fjxblog.oss-cn-shenzhen.aliyuncs.com/user/1/blogImg/news.jpg" class="friend-img">
                                                <span class="name">Github News</span>
                                                <hr class="des-divider">
                                                <div class="description">快来看各种新项目</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="am-divider"></div>
                        </div>

                        <div class="second-column">
                            <div class="friends">
                                <div class="links">
                                    <h3 class="column">左邻右舍</h3>
                                    <ul class="link-items"></ul>
                                </div>
                            </div>
                            <div class="am-divider"></div>
                        </div>
                    </div>

                    <div class="am-container">
                        <div class="am-g">
                            <div class="comment">
                                <div class="comment-edit">
                                    <textarea placeholder="快来留言吧..." id="comment-content"></textarea>
                                </div>
                                <div class="comment-btn">
                                    <button class="am-btn am-btn-secondary" id="comment-btn">在此留言</button>
                                </div>

                                <div class="am-divider"></div>
                                <hr>
                                <div class="comment-main">
                                    <div class="comment-main-top">
                                    </div>
                                    <div class="comment-main-list">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div style="text-align: center" class="foot-block">
            <span class="blog_copyright">
                © 2018-2019 范建鑫
            </span>
                <div>
                    博客已运行
                    <span class="tillTime"></span>
                </div>
                <div>蜀ICP备18030623号</div>
            </div>

            <div class="foot-block-say">
                <span>相信就会存在<i class="blog-icon">&#xe600;</i></span>
                <div>

                    To the world,you are one person
                </div>
                <div>But to one person,you are the world</div>
            </div>
        </div>
    </div>

</body>
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<script src="../static/js/linkCommend.js" th:src="@{/js/linkCommend.js}"></script>
<script src="https://cdn.bootcss.com/layer/2.1/layer.js"></script>
<script src="../static/js/lib/activate-power-mode.js" th:src="@{/js/lib/activate-power-mode.js}"></script>
<script src="../static/js/timecount.js" th:src="@{/js/timecount.js}"></script>

<script>
    // 打字烟花
    POWERMODE.colorful = true;
    POWERMODE.shake = false;
    document.body.addEventListener('input', POWERMODE);
</script>
</html>