<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Altri | Space</title>
    <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="/css/space.css" rel="stylesheet">
</head>
<body>
    <div class="main-container am-animation-fade">
        <div class="img-bgr">
            <figure class="head-bg-img ">
                <div class="focusinfo">
                    <div class="name"><h3>Welcome Altri</h3><span class="blink">_</span></div>
                    <div class="head-img">
                        <a href="#">
                            <img src="https://ae01.alicdn.com/kf/HTB1BbUoXND1gK0jSZFsq6zldVXaG.jpg" class="inner-head-img">
                        </a>
                    </div>

                    <div class="head-info">

                        <p>相信就会存在</p>
                        <i class="blog-icon left-image">&#xe641;</i>
                        <i class="blog-icon right-image">&#xe642;</i>
                    </div>

                    <div class="top-social">

                        <li>
                            <a href="#">
                                <img src="https://ae01.alicdn.com/kf/Hb7937fe10ac044b092586d55387a45edt.png" class="social-img">
                            </a>
                        </li>
                    </div>
                </div>
            </figure>
            <div class="header-down float-animated">
        <span>
            <i class="blog-icon">&#xe603;</i>
        </span>
            </div>
        </div>

        <div class="page">
            <header class="choice-header">
                <div class="site-top">
                    <div class="choice">
                        <div class="show-choices">
                           <span class="am-icon-bars am-icon-md select-choice"></span>
                        </div>
                        <nav >
                            <ul class="menu am-animation-fade">
                                <li><a href="/gallery">图片墙</a></li>
                                <li><a href="/daily">日记</a></li>
                                <li><a href="#">新世界</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>


    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/space.js"></script>
</body>
</html>